services:  # Nginx service

  # Laravel application
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: web-app
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8080:8000"
    volumes:
      - ./storage:/app/storage
    depends_on:
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - laravel-network

  queue:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: web-app-queue
    restart: unless-stopped
    env_file:
      - .env
    command: ["supervisord", "-c", "/etc/supervisor/supervisord.conf"]
    volumes:
      - ./storage:/app/storage
    depends_on:
      - redis
      - app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - laravel-network
  # Redis
  redis:
    image: redis:7.4-alpine
    command: redis-server --appendonly yes --requirepass "${CONTAINER_REDIS_PASSWORD:-secret}"
    volumes:
      - redis-data:/data
    restart: unless-stopped
    networks:
      - laravel-network

networks:
  laravel-network:
    driver: bridge

volumes:
  redis-data:
    driver: local
